@import "../../../styles/colors";

.load-more-button {
  padding: 1em 1.5em;
  margin: 1em;
  background-color: $invert-highlight-text-color;
  border-radius: 8px;

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  opacity: 0.5;
  &:hover {
    opacity: 0.5;
  }
}
